/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted #c4f82a;
  outline-offset: 4px;
}

.h1-car {
  color: #1f314f;
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 24px;
  /* hato bolib kolyapt  margin-bottom: 16px; */
}

img {
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 24px;
}

.user-card {
  background-color: #ffffff;
  color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  box-shadow: 0px 25px 25px 0px #0000000c;
  width: 320px;
  height: 598px;
  margin-top: 152px;
  margin-bottom: 151px;
}

.top-p {
  color: #7d889e;
  display: flex;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.user-card__image {
  border-radius: 50%;
}

.bekraund-koler {
}

.img {
  position: absolute;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
  margin-right: 64px;
}
